<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Cancer Trials</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="{% url 'trials:index' %}">Search Page</a></li>           

          {% if user.is_authenticated %}
          <li><a class="navbar-link" href="{% url 'trials:addtrial' %}">Add New Trial</a></li>
          <li><a class="navbar-link" href="{% url 'trials:register' %}">Add New Trial Admin</a></li>
          <li><a class="navbar-link" href="{% url 'trials:csv_upload' %}">Upload CSV</a></li>          
          <li><a class="navbar-link" href="{% url 'trials:logout' %}">Logout</a></li>
          {% else %}
          <li><a class="navbar-link" href="{% url 'trials:user_login' %}">Trial Admins</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">



    {% block body_block %}
    {# Anything outside of this will be inherited if you use extend.#}
    {% endblock %}
    </div>
    <div class="alert alert-warning text-center">
      <P>This is a proof of concept system.</P>
      <P>No data held in this system relates to actual Cancer Trails </P>
    </div>
  </body>
</html>