<!DOCTYPE html>
{% extends "trials/base.html" %}
    {% block body_block%}

        {% if messages %}
            {% for message in messages %}
                <div>
                    <strong>{{message|safe}}</strong>
                </div>
            {% endfor %}
        {% else %}
            <div class="jumbotron">
                {{order}}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label>Upload a file</label>
                    <input type="file" name="file">
                    <p>File must be a CSV</p>
                    <button type="submit">Upload</button>
                </form>
            </div>
        {% endif %}


    {% endblock %}